{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Problem' %} {{ problem.numbered_full_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'problems/sidebar.html' %}
    </div>
    <div class="col-md-9">
        {% block main %}
        {% endblock %}
    </div>
</div>
{% endblock %}
