{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_proglangs %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'bootstrap-sortable/bootstrap-sortable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-sortable/bootstrap-sortable.js' %}"></script>
{% endblock %}

{% block main %}
    <h3>{% trans 'Data files' %} <small>{% trans '(statements, editorials, pictures)' %}</small></h3>

    <table class="table table-condensed table-hover table-bordered ir-problem-files-table sortable">
        <thead>
            <tr>
                <th class="ir-col-filename">{% trans 'File' %}</th>
                <th class="ir-col-filetype">{% trans 'Type' %}</th>
                <th>{% trans 'Description' %}</th>
                <th class="ir-col-actions" data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
        {% for f in related_files %}
            <tr>
                <td class="ir-col-filename">{{ f.filename }} <span class="ir-file-size">[{{ f.size|filesizeformat }}]</span></td>
                <td class="ir-col-filetype">{{ f.get_file_type_display }}</td>
                <td>{{ f.description }}</td>
                <td class="ir-col-actions">
                    <span class="ir-appear-on-hover ir-icons"><!--
                        --><a href="{% url 'problems:data_file_open' problem.id f.id f.filename %}" title="{% trans 'Open' %}">{% bootstrap_icon 'file' %}</a><!--
                        --><a href="{% url 'problems:data_file_download' problem.id f.id f.filename %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a><!--
                        --><a href="{% url 'problems:data_file_edit' problem.id f.id %}{{ navigator.query_string }}" title="{% trans 'Edit' %}">{% bootstrap_icon 'pencil' %}</a><!--
                        --><a href="{% url 'problems:data_file_delete' problem.id f.id %}{{ navigator.query_string }}" title="{% trans 'Delete' %}">{% bootstrap_icon 'trash' %}</a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        <a href="{% url 'problems:data_file_new' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New file' %}</span>
        </a>
    {% endbuttons %}

    <hr>

    <h3>{% trans 'Source files' %} <small>{% trans '(checkers)' %}</small></h3>

    <table class="table table-condensed table-hover table-bordered ir-problem-files-table sortable">
        <thead>
            <tr>
                <th class="ir-col-filename">{% trans 'File' %}</th>
                <th class="ir-col-filetype">{% trans 'Type' %}</th>
                <th>{% trans 'Description' %}</th>
                <th class="ir-col-compiler">{% trans 'Compiler' %}</th>
                <th class="ir-col-actions" data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
        {% for f in related_source_files %}
            <tr>
                <td class="ir-col-filename">
                    {{ f.filename }} <span class="ir-file-size">[{{ f.size|filesizeformat }}]</span>
                </td>
                <td class="ir-col-filetype">{{ f.get_file_type_display }}</td>
                <td>{{ f.description }}</td>
                <td class="ir-col-compiler">{% irunner_proglangs_compilerbox f.compiler tooltip=True %}</td>
                <td class="ir-col-actions">
                    <span class="ir-appear-on-hover ir-icons"><!--
                        --><a href="{% url 'problems:source_file_open' problem.id f.id f.filename %}" title="{% trans 'Open' %}">{% bootstrap_icon 'file' %}</a><!--
                        --><a href="{% url 'problems:source_file_download' problem.id f.id f.filename %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a><!--
                        --><a href="{% url 'problems:source_file_edit' problem.id f.id %}{{ navigator.query_string }}" title="{% trans 'Edit' %}">{% bootstrap_icon 'pencil' %}</a><!--
                        --><a href="{% url 'problems:source_file_delete' problem.id f.id %}{{ navigator.query_string }}" title="{% trans 'Delete' %}">{% bootstrap_icon 'trash' %}</a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        <a href="{% url 'problems:source_file_new' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New file' %}</span>
        </a>
    {% endbuttons %}
{% endblock %}
