{% load i18n %}
{% load irunner_problems %}
{% load irunner_pagination %}

<div class="panel panel-default">
    <div class="panel-body">
        {% if problems %}
            {% if pagination_context %}
                {% irunner_pagination pagination_context %}
            {% endif %}

            <table class="table table-condensed">
                <thead>
                    <tr>
                        {% if show_checkbox %}
                            <th><input type="checkbox" id="selectall"></th>
                        {% endif %}
                        <th>{% trans 'Level' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th class="text-nowrap">{% trans 'Short name' %}</th>
                        <th class="text-right">{% trans 'Solutions' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        {% if show_checkbox %}
                            <td><input type="checkbox" class="ir-checkbox" name="{{ problem.id }}"></td>
                        {% endif %}
                        <td>{% irunner_problems_difficulty problem.difficulty %}</td>
                        <td><a href="{% url 'problems:overview' problem.id %}{{ query_string }}">{{ problem.numbered_full_name }}</a></td>
                        <td class="text-nowrap">{{ problem.numbered_short_name }}</td>
                        <td class="text-right">{{ problem.solution_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="ir-absence">{% trans 'No problems' %}</div>
        {% endif %}
    </div>
</div>
