{% extends "users/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}

{% block sidebar %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_tree cached_trees 'problems:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_breadcrumbs cached_trees 'problems:show_folder' folder_id root_name %}

    {% if course_list %}
        <p>{% trans 'The folder or its subfolders are currently used in the following courses and cannot be deleted.' %}</p>
        <ul>
            {% for course in course_list %}
                <li>
                    <a href="{% url 'courses:show_course_info' course.id %}">{{ course }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'The folder is going to be deleted together with its subfolders. The problems they contain will not be deleted.' %}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% trans 'Delete' %}
            </button>
        </form>
    {% endif %}
{% endblock %}
