{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <h1>{% block title %}{% trans 'Courses' %}{% endblock %}</h1>
    {% if object_list %}
        <ul>
            {% for course in object_list %}
                <li><a href="{% url 'courses:show_course_info' course.id %}">{{ course }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'There are no courses available.' %}</p>
    {% endif %}
    <p><a href="{% url 'courses:new' %}">{% trans 'New course' %}</a></p>
{% endblock %}
