{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <h1>{% block title %}{% trans 'New course' %}{% endblock %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons layout='horizontal' %}
            <input type="submit" class="btn btn-default" value="{% trans 'Create' %}" />
        {% endbuttons %}
    </form>
{% endblock %}
