{% load bootstrap3 %}
{% load i18n %}
{% load irunner_courses %}
{% load irunner_problems %}
{% load irunner_solutions %}

{# variables in context: slot_result, problem_result #}

<div
    class="ir-slot-result"
    {% if slot_result %}
        {% if slot_result.slot %} data-slot="{{ slot_result.slot.id }}"{% endif %}
        {% if slot_result.assignment %} data-assignment="{{ slot_result.assignment.id }}"{% endif %}
        data-topic="{{ slot_result.topic_descr.topic.id }}"
    {% endif %}
>
    <div class="row">
        <div class="col-sm-9">
            <div>
                {% if problem_result %}
                    {% irunner_problems_difficulty problem_result.problem.difficulty %}
                    <a href="{% url 'courses:course_problems_problem' course_id problem_result.problem.id %}" title="{% trans 'Statement' %}">{{ problem_result.problem.numbered_full_name }}</a>
                {% else %}
                    <span class="ir-absence">{% trans 'No problem is assigned' %}</span>
                {% endif %}
                {% if editable %}
                    <button type="button" class="btn btn-xs btn-default ir-assign-button" title="{% trans 'Assign' %}">{% bootstrap_icon 'pencil' %}</button>
                {% endif %}
            </div>
            {% if problem_result %}
                <div class="ir-best-solution">
                    <span title="{% trans 'Best solution' %}">{% bootstrap_icon 'tasks' %}</span>
                    <span class="ir-icon-label">
                        {% if problem_result.best_solution %}
                            {% url 'solutions:main' problem_result.best_solution.id as s_url %}
                            <a href="{{ s_url }}">{% irunner_solutions_judgementbox problem_result.best_solution.best_judgement tooltip=True %}</a>
                            <a href="{{ s_url }}">{% irunner_solutions_scorebox problem_result.best_solution.best_judgement %}</a>
                        {% endif %}
                        {% if problem_result.solutions %}
                            {% with problem_result.solutions|length as cnt %}
                                (<a href="{% if user_id %}{% url 'courses:all_solutions' course_id %}?user={{ user_id }}&amp;problem={{ problem_result.problem.id }}{% else %}{% url 'courses:my_solutions' course_id %}?problem={{ problem_result.problem.id }}{% endif %}">{{ cnt }}&nbsp;{% blocktrans count counter=cnt %}solution{% plural %}solutions{% endblocktrans %}</a>)
                            {% endwith %}
                        {% else %}
                            {% trans 'No solutions' %}
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if slot_result %}
                {% for criterion_descr in slot_result.criterion_descrs %}
                    <div {% if editable %} class="ir-toggle-criterion"{% endif %}>
                        {% irunner_courses_criterion criterion_descr.criterion criterion_descr.ok editable=editable %}
                        {{ criterion_descr.criterion.name }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
