{% extends 'courses/settings_base.html' %}

{% load i18n %}
{% load irunner_proglangs %}
{% load partition %}
{% load irunner_cache %}

{% block submain %}

<form method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        {% for column in form.compilers|rows:2 %}
        <div class="col-md-6">
            <div class="form-group">
                {% for checkbox in column %}
                    <div class="checkbox">
                        <label>
                            {{ checkbox.tag }}
                            {% irunner_cache_lookup compiler_cache checkbox.choice_value as compiler %}
                            {% irunner_proglangs_compilerbox compiler tooltip=False %} {{ checkbox.choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">
            {% trans 'Save' %}
        </button>
    </div>
</form>

{% endblock %}
