{% extends 'courses/base.html' %}

{% load i18n %}
{% load irunner_courses %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load irunner_pagination %}
{% load bootstrap3 %}

{% block subtitle %}{{ page_title }}{% endblock %}

{% block main %}
    <form method="get" class="form-inline">
        <div class="ir-solution-filter">
            {% if user_form %}
                {{ user_form.user }}
            {% endif %}
            {{ problem_form.problem }}
            <button type="submit" class="btn btn-default">
                {% trans 'Apply' %}
            </button>
        </div>
    </form>

    {% if object_list %}

    {% irunner_pagination pagination_context %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                {% if show_author %}
                    <th>{% trans 'Author' %}</th>
                {% endif %}
                <th>{% trans 'Problem' %}</th>
                <th class="ir-col-time">{% trans 'Time' %}</th>
                <th>{% trans 'File' %}</th>
                <th>{% trans 'Status' %}</th>
                {% if permissions.plagiarism %}
                <th>{% trans 'Plagiarism' %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for solution in object_list %}
            <tr>
                {% if show_author %}
                    <td>{% irunner_courses_showuser solution.author_id user_cache %}</td>
                {% endif %}
                <td>
                    {% if solution.problem %}
                        <a href="{% url 'courses:course_problems_problem' course.id solution.problem.id %}">{{ solution.problem.numbered_full_name }}</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td class="ir-col-time">{{ solution.reception_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>
                    {% if show_compilerbox %}
                        <a href="{% url 'solutions:source' solution.id %}">{% irunner_proglangs_compilerbox solution.compiler tooltip=True %}</a>
                    {% endif %}
                    {% if show_filename %}
                        <small><tt><a href="{% url 'solutions:source' solution.id %}">{{ solution.source_code.filename }}</a></tt></small>
                    {% endif %}
                </td>
                <td class="text-nowrap">
                    {% url 'solutions:main' solution.id as solution_url %}
                    <a href="{{ solution_url }}">{% irunner_solutions_scorebox solution.best_judgement %}</a>
                    <a href="{{ solution_url }}">{% irunner_solutions_judgementbox solution.best_judgement tooltip=show_outcome_tooltip %}</a>

                    {% if show_verbose_outcome and solution.best_judgement %}
                        <a href="{{ solution_url }}">{{ solution.best_judgement.show_status }}</a>
                    {% endif %}
                </td>
                {% if permissions.plagiarism %}
                    <td>{% if solution.aggregatedresult %}<a href="{% url 'solutions:plagiarism' solution.id %}">{{ solution.aggregatedresult.relevance }}</a>{% else %}?{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="ir-absence">
            {% trans 'No solutions' %}
        </div>
    {% endif %}
{% endblock %}
