{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'About' context 'about the system' %}{% endblock %}

{% block content %}
<h1>{% trans 'About' context 'about the system' %} {{ system_short_name }}</h1>

<p>
{% blocktrans %}
{{ system_full_name }} is a software designed to serve programming contests of algorithm nature and help teachers in practicals labs on algorithm basics and related courses.
{% endblocktrans %}
</p>

<p>
{{ system_full_name }} — простой инструмент с эффективной функциональностью контроля, тренинга и самостоятельной работы.

Система позволят переложить на компьютер сугубо механическую работу преподавателя при проверке решений.
Комплекс легко осваивается и интегрируется в учебный процесс.
С его помощью можно эффективно решать следующие задачи:
<ul>
    <li>создание и поддержка большого архива заданий;</li>
    <li>проведение online- и offline-олимпиад;</li>
    <li>организацию практических занятий и сборов по информатике;</li>
    <li>самостоятельная подготовка к занятиям.</li>
</ul>

<h3>{% trans 'Source code' %}</h3>

<p><a href="https://bitbucket.org/sobols/irunner2">https://bitbucket.org/sobols/irunner2</a></p>

{% endblock %}
