{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_pagination %}

{% block content %}
<h1>{% block title %}{% trans 'Feedback Messages' %}{% endblock %}</h1>

{% irunner_pagination pagination_context %}
{% for message in object_list %}
    <div class="panel panel-default">
        <div class="panel-heading ir-panel-heading ir-float-parent">
            {% if message.author %}
                {{ message.author }}
            {% else %}
                {% trans 'Anonymous user' %}
            {% endif %}
            {% if message.email %}
                (<a href="mailto:{{ message.email }}">{{ message.email }}</a>)
            {% endif %}

            <div class="ir-float-right">
                {% bootstrap_icon 'time' %}
                <span class="ir-icon-label">{{ message.when }}</span>
                <a href="{% url 'feedback:delete' message.id %}">{% bootstrap_icon 'remove' %}</a>
            </div>
        </div>
        <div class="panel-body"><div class="ir-data">{{ message.body|urlize }}</div></div>
        {% if message.attachment %}
            <div class="panel-footer">
                {% trans 'Attachment' %}:
                {% bootstrap_icon 'paperclip' %}
                <span class="ir-icon-label">
                    <a href="{% url 'feedback:download' message.id message.attachment.filename %}">{{ message.attachment.filename }}</a> ({{ message.attachment.size|filesizeformat }})
                </span>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
