{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <h1>{% block title %}{% trans 'File storage' %}{% endblock %}</h1>

    <p>{% trans 'This is internal debug page.' %}</p>

    <p>{% trans 'You can get access to any resource by its id:' %}</p>

    {% url 'storage:show' '496e73696768742052756e6e65722032' as link %}
    <pre><a href="{{ link }}">{{ link }}</a></pre>

    <p><a href="{% url 'storage:new' %}">{% trans 'Upload new resource' %}</a></p>

    <p><a href="{% url 'storage:statistics' %}">{% trans 'Storage statistics' %}</a></p>

{% endblock %}
