{% load i18n %}

<div class="progress ir-limit-progressbar"{% if limit %} title="{% trans 'Time limit' %}: {{ limit }}&nbsp;{% trans 's' %}"{% endif %}>
    <div class="progress-bar ir-limit-progressbar-filling" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
        <span>{{ actual }}&nbsp;{% trans 's' %}</span>
    </div>
</div>
