{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_pagination %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load irunner_users %}
{% load widget_tweaks %}

{% block title %}{% trans 'Solutions' %}{% endblock %}

{% block content %}
    <form method="get" class="form-inline">
        <div class="ir-solution-filter">
            {% render_field form.problem class='form-control' placeholder=form.problem.label %}
            {% render_field form.user class='form-control' placeholder=form.user.label %}
            {% render_field form.compiler class='form-control' %}
            {% render_field form.state class='form-control' %}
            <button type="submit" class="btn btn-default">
                {% trans 'Apply' %}
            </button>
        </div>
    </form>

    {% irunner_pagination pagination_context %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectall"></th>
                <th>ID</th>
                <th>{% trans 'Problem' %}</th>
                <th>{% trans 'Author' %}</th>
                <th class="ir-col-time">{% trans 'Time' %}</th>
                <th>{% trans 'File' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Plagiarism' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for solution in object_list %}
            <tr>
                <td><input type="checkbox" class="ir-checkbox" name="{{ solution.id }}"></td>
                <td>{{ solution.id }}</td>
                <td>{% if solution.problem %}<a href="{% url 'problems:overview' solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a>{% else %}&mdash;{% endif %}</td>
                <td>{% irunner_users_show solution.author %}</td>
                <td class="ir-col-time">{{ solution.reception_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="text-nowrap">
                    {% irunner_proglangs_compilerbox solution.compiler %}
                    <tt><a href="{% url 'solutions:source' solution.id %}">{{ solution.source_code.filename }}</a></tt>
                </td>
                <td class="text-nowrap">
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_judgementbox solution.best_judgement tooltip=True %}</a>
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_scorebox solution.best_judgement %}</a>
                </td>
                <td>{% if solution.aggregatedresult %}<a href="{% url 'solutions:plagiarism' solution.id %}">{{ solution.aggregatedresult.relevance }}</a>{% else %}?{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        <button id="ir-btn-rejudge" class="btn btn-default btn-sm">
            {% bootstrap_icon 'ok' %}&nbsp;{% bootstrap_icon 'repeat' %} <span class="ir-icon-label">{% trans 'Rejudge' context 'verb' %}</span>
        </button>
        <button id="ir-btn-delete" class="btn btn-default btn-sm">
            {% bootstrap_icon 'ok' %}&nbsp;{% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span>
        </button>
    {% endbuttons %}

    <script>
    $(document).ready(function () {
        irSetUpSelectAll();
        $("#ir-btn-rejudge").click(function() {
            irPerformActionOnSelected("{% url 'solutions:create_rejudge' %}", null, "{% trans 'No solutions selected' %}");
        });
        $("#ir-btn-delete").click(function() {
            irPerformActionOnSelected("{% url 'solutions:delete' %}", "{{ request.path }}?{{ request.GET.urlencode|safe }}", "{% trans 'No solutions selected' %}");
        });
    });
    </script>
{% endblock %}
