{% extends "solutions/solution.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_solutions %}

{% block subtitle %}{% trans 'Judgements' %}{% endblock %}

{% block main %}
    <form method="post" action="{% url 'solutions:create_rejudge' %}" target="_blank">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ solution.id }}">
        {% buttons %}
        <button type="submit" class="btn btn-default btn-sm">
            {% bootstrap_icon 'repeat' %} <span class="ir-icon-label">{% trans 'Rejudge' context 'verb' %}</span>
        </button>
        {% endbuttons %}
    </form>

    <table class="table table-condensed">
        <tbody>
            {% for judgement in judgements %}
                <tr{% if judgement == solution.best_judgement %} class="active"{% endif %}>
                    <td><a href="{% url 'solutions:show_judgement' judgement.id %}">{{ judgement.id }}</a></td>
                    <td>{% if judgement.extra_info and judgement.extra_info.finish_testing_time %}{{ judgement.extra_info.finish_testing_time }}{% else %}&mdash;{% endif %}</td>
                    <td>
                        {% irunner_solutions_judgementbox judgement tooltip=False %}
                        {% irunner_solutions_scorebox judgement %}
                        {{ judgement.show_status }}
                    </td>
                    <td>
                        {% if judgement.rejudge_id %}
                            <a href="{% url 'solutions:rejudge' judgement.rejudge_id %}">{{ judgement.rejudge_id }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
