{% extends "base.html" %}

{% load i18n %}
{% load irunner_proglangs %}

{% block content %}

<h1>{% block title %}{% trans 'Compilers' %}{% endblock %}</h1>

<p>
    <a href="{% url 'proglangs:create' %}">{% trans 'New compiler' %}</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'String identifier' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Language' %}</th>
            <th>{% trans 'Legacy?' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for compiler in compilers %}
        <tr {% if compiler.legacy %} class="active" {% endif %}>
            <td>{{ compiler.id }}</td>
            <td><a href="{% url 'proglangs:update' compiler.id %}">{{ compiler.handle }}</a></td>
            <td>{{ compiler.description }}</td>
            <td>{% irunner_proglangs_compilerbox compiler tooltip=False %}</td>
            <td>{{ compiler.legacy|yesno }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
